@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
:root {
  --white-color: #fff;
  --whitedark-color: #dedede;
  --whitehalf-color: #ffffff7b;
  --blue-color: #4070f4;
  --bluehalf-color: #7195f9;
  --grey-color: #707070;
  --grey-color-light: #aaa;
  --red-color: #f44040;
  --redhalf-color: #ff6e6e;
  --green-color: #86ff65;
  --gradient-color: linear-gradient(19deg, #21d4fd, #b721ff);
}
body {
  transition: all 0.5s ease;
  background: var(--gradient-color);
  background-size: 400% 400%;
  animation: gradient 15s ease infinite;
}
@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
.main {
  position: relative;
  margin: 10px 0px 0px 0px;
  padding: 10px 10px 10px 10px;
  transition: all 0.5s ease;
  border-radius: 25px;
  background: transparent;
  /* border-color: var(--white-color);
  border-style: solid; */
  width: 100%;
  height: 85vh;
}
.main_login{
  background-color: white; 
  width: 50%; 
  margin-top: 50px;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  height: 50vh;
  border-radius: 25px;
}
.isi_login{
  margin-top: auto;
}
.divBP{
  margin-top: 25px;
  margin-bottom: 25px;
  padding: 20px;
}
.divBP > div{
  margin-top: 20px;
}
.divBP > p{
  padding-top: 10px;
  color: var(--grey-color);
}
.judul {
  margin-top: 20px;
  margin-bottom: 20px;
  color: var(--white-color);
}
.tabel {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  border-collapse: collapse;
  border-radius: 20px;
  border-style: solid;
  border-color: white;
  overflow: hidden;
}
.tabel > thead > tr > th {
  font-weight: 500;
  padding: 5px;
  background-color: var(--whitehalf-color);
  color: var(--white-color);
  text-align: center;
  vertical-align: middle;
}
.tabel > tbody > tr > td {
  padding-top: 5px;
  padding-bottom: 5px;
  background-color: var(--white-color);
  color: var(--grey-color);
  text-align: center;
  vertical-align: middle;
}
.tabel > tfoot > tr > td {
  padding-top: 5px;
  padding-bottom: 5px;
  background-color: var(--white-color);
  color: var(--grey-color);
  text-align: center;
  vertical-align: middle;
}
.tabel-modal {
  width: 100%;
}
.th-modal > th {
  color: black;
  font-weight: 500;
  padding: 10px;
}
.td-modal > td {
  color: rgb(0, 0, 0);
  font-weight: 300;
  padding: 5px;
}
.iconList{
  margin-top: auto;
  margin-bottom: auto;
  margin-left: 10px;
  color: var(--white-color);
  background-color: transparent;
  outline: none;
  text-decoration: none;
  border-color: transparent;
  border-style: solid;
}
.iconList:hover{
  cursor: pointer;
  color: var(--whitehalf-color);
}
.iconList:active{
  cursor: pointer;
  color: var(--white-color);
}
.custom-tooltip {
  --bs-tooltip-bg: var(--whitehalf-color);
  --bs-tooltip-color: var(--white-color);
}
.judulList{
  margin-top: 20px;
  display: flex;
  justify-content: center;
  font-size: 20px;
  margin-bottom: 0;
}
.spanJudul{
  padding-top: 20px;
}
.btnModal{
  color: var(--white-color);
  padding: 5px;
  font-size:medium;
  width: 70px;
}

.btnModal.lihat{
  background-color: var(--grey-color);
  border-style: solid;
  border-color: var(--grey-color);
  border-radius: 10px;
}
.btnModal.lihat:hover{
  background-color: var(--white-color);
  border-color: var(--grey-color);
  color: var(--grey-color);
}
.btnModal.biru{
  background-color: var(--blue-color);
  border-style: solid;
  border-color: var(--blue-color);
  border-radius: 10px;
}
.btnModal.biru:hover{
  background-color: var(--white-color);
  border-color: var(--blue-color);
  color: var(--blue-color);
}
.btnModal.merah{
  background-color: var(--red-color);
  border-style: solid;
  border-color: var(--red-color);
  border-radius: 10px;
}
.btnModal.merah:hover{
  background-color: var(--white-color);
  border-color: var(--red-color);
  color: var(--red-color);
}
.btnModal.putih{
  background-color: var(--white-color);
  border-style: solid;
  border-color: var(--white-color);
  border-radius: 10px;
  color: var(--grey-color)
}
.btnModal.putih:hover{
  background-color: transparent;
  border-color: var(--white-color);
  color: var(--white-color);
}
.cari{
  background-color: transparent;
  color: white;
  font-weight: 500;
  border: 2px solid var(--white-color);
}
.cari::placeholder{
  color: var(--whitehalf-color);
}
.cari:focus{
  background-color: transparent;
  color: white;
  font-weight: 500;
  border: 2px solid var(--white-color);
  outline: none;
}
.tahun{
  border: 1px solid var(--grey-color-light);
  border-radius: 3px;
  padding: 5px;
  width: 20%;
}
.Lipager{
  border: 2px solid var(--grey-color);
  width: 20%;
  margin-right: 10px;
  border-radius: 10px;
}
.Lipager > a{
  color: var(--grey-color);
}
.Lipager:hover{
  border: 2px solid var(--white-color);
  background-color: var(--grey-color);
}
.Lipager:hover > a{
  color: var(--white-color);
}
.Apager{
  text-decoration: none;
  padding: 5px;
}